html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

div, section, article, header, footer, aside {
	box-sizing: border-box;
}

body {
	font: 0.92em/1.4 Arial, sans-serif;
}

#body-wrapper {
	min-height: 100%;
	position: relative;
}

#page {
	overflow: hidden;
	padding-bottom: 110px;
}

#content {
	/*padding-right: 300px;*/
	/*float: left;*/
	/*position: relative;*/
	/*display: inline-block;
	vertical-align: top;*/
	height: 100%;
	/*width: auto;*/
	margin-top: 50px;
}

header, footer {
	width: 100%;
}

header {
	/*height: 50px;*/
	background: #202020;
	border-bottom: 2px solid #ffa000;
	margin: 0;
	padding: 20px 0 0 0;
}

aside {
	float: right;
	/*position: relative;
	top: 0px;
	bottom: 0px;*/
	/*display: inline-block;
	vertical-align: top;*/
	width: 300px;
	height: 100%;
	margin-top: 50px;
	/*margin-right: -300px;*/
	padding-left: 10px;
	
	/*border-left: 1px solid #eaeaea;*/
}

footer {
	/*vertical-align: bottom;*/
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid #cccccc;
	padding-top: 10px;
	padding-bottom: 15px;
	margin-top: 30px;
	background-color: #ffffff;
	height: 80px;
}

nav {
	display: inline-block;
	/*padding: 0;
	margin: 0;*/
}

.logo {
	vertical-align: baseline;
	display: inline-block;
	/*float: left;*/
	margin: 0 0 0 50px;
	padding: 0;
	font-size: 3em;
	line-height: 1em;
	color: #ffa000;
}

article {
	margin-top: 30px;
}

.article-title {
	font-family: "Segoe UI";
	font-size: 3em;
	line-height: 1.01em;
	margin: 0 0 10px 0;
}

.article-date {
	display: inline;
	font-size: 0.9em;
	color: #303030;
	padding-left: 0px;
	padding-right: 10px;
}

.article-author {
	display: inline;
	padding-left: 10px;
}

.article-text {
	margin-top: 25px;
	margin-bottom: 25px;
	padding-right: 20px;
	font-size: 1em;
	line-height: 1.4;
	/*text-indent: 1cm;*/
}

ul.inline {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.inline > li {
	display: inline;
	padding-right: 5px;
	padding-left: 5px;
}

header nav a {
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

header nav a:hover {
	color: #ffa000;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

.center {
	margin:auto;
}

.middle {
	vertical-align: middle;
}

.col {
	float: left;
}

@media (min-width:768px){
	.container{
		width: 750px
	}
}

@media (min-width:992px){
	.container{
		width: 970px
	}
}

@media (min-width:1200px){
	.container{
		width: 1100px
	}
}

/***********************************
				Для форм
************************************/
input, select, textarea {
	font-family: Helvetica,  Arial,  sans-serif;
	outline: none;
	margin: 0 0 7px 0;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"], select, textarea {
	width: 100%;
	font-size: 0.875em;
	display: block;
	outline-width: 0;
	border: #e6e6e6 1px solid;
	line-height: 18px;
	padding: 12px 15px;
	color: #555;
	resize: none;
	box-sizing: border-box;
	border-radius: 2px
}

input[type="text"]:hover, input[type="tel"]:hover, input[type="email"]:hover, input[type="password"]:hover, select:hover, textarea:hover {
	border-color: #bbb !important
}

input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
	border-color: #bbb !important
}

textarea {
	height: 150px
}

input[type="text"]:required, input[type="tel"]:required, input[type="email"]:required, input[type="password"]:required, textarea:required {
	padding: 12px 45px 12px 15px;
	background: #fff url(/assets/form/form-required.png) right 0 no-repeat
}

input[type="submit"] {
	margin: 15px 0 0 0;
}

label {
	display: block;
	font-size: 1em;
	margin: 15px 0 7px 0;
	/*cursor: pointer;*/
	font-weight: bold
}

input.error {
	border-color: red;
}

small.error {
	color: red;
}

.orange-btn {
	height: 40px;
	line-height: 40px;
	display: block;
	float: left;
	padding: 0 20px;
	color: #fff;
	font-size: 0.875em;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	border: 0;
	border-radius: 0;
	padding: 0 20px 4px 20px;
}

.orange-btn {
	background-color: #f8b33f
}

.orange-btn:hover {
	color: #fff;
	background-color: #ffca72
}

.orange-btn:active {
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3)
}

.big-btn {
	height: 46px;
	line-height: 46px;
	padding: 0 30px;
	font-size: 1.125em;
}